aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
async-lru==2.0.5
attrs==25.3.0
bcrypt==4.3.0
certifi==2025.1.31
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.1
ciscoisesdk==2.3.1
click==8.1.8
coverage==7.7.1
cryptography==44.0.2
dash==2.7.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
dict2xml==1.7.6
dill==0.3.9
distro==1.9.0
et-xmlfile==2.0.0
f5-icontrol-rest==1.3.13
fastjsonschema==2.21.1
flask==2.2.2
frozenlist==1.5.0
future==1.0.0
genie==24.11
genie-libs-clean==24.11
genie-libs-conf==24.11
genie-libs-filetransferutils==24.11
genie-libs-health==24.11
genie-libs-ops==24.11
genie-libs-parser==24.11
genie-libs-sdk==24.11
gitdb==4.0.12
gitpython==3.1.44
grpcio==1.71.0
idna==3.10
iniconfig==2.1.0
itsdangerous==2.2.0
jinja2==3.1.6
jsonpickle==4.0.2
junit-xml==1.9
lxml==4.9.4
markupsafe==3.0.2
multidict==6.2.0
narwhals==1.32.0
ncclient==0.6.19
netaddr==0.10.1
ntc-templates==3.2.0
numpy==1.24.1
openpyxl==3.0.10
packaging==24.2
pandas==1.5.3
paramiko==3.5.1
pathspec==0.12.1
plotly==6.0.1
pluggy==1.5.0
ply==3.11
prettytable==3.15.1
propcache==0.3.0
protobuf==6.30.1
psutil==7.0.0
pyasn1==0.4.8
pyats==24.11
pyats-aereport==24.11
pyats-aetest==24.11
pyats-async==24.11
pyats-connections==24.11
pyats-datastructures==24.11
pyats-easypy==24.11
pyats-genie-command-parse==1.4.0
pyats-kleenex==24.11
pyats-log==24.11
pyats-reporter==24.11
pyats-results==24.11
pyats-tcl==24.11
pyats-topology==24.11
pyats-utils==24.11
pycparser==2.22
pyftpdlib==2.0.1
pynacl==1.5.0
pysmi==1.5.11
pysnmp==6.1.4
pysnmpcrypto==0.0.4
pytest==8.3.5
pytest-cov==4.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==3.14.2
python-socketio==4.6.1
pytz==2025.1
pyyaml==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
rest-connector==24.11
ruamel-yaml==0.18.10
ruamel-yaml-clib==0.2.12
setuptools==78.0.1
six==1.17.0
smmap==5.0.2
textfsm==1.1.2
tftpy==0.8.0
tqdm==4.67.1
unicon==24.11
unicon-plugins==24.11
urllib3==2.3.0
wcwidth==0.2.13
werkzeug==2.2.2
wheel==0.45.1
xlsxwriter==3.2.5
xmltodict==0.12.0
yamllint==1.37.0
yang-connector==24.11
yarl==1.18.3
