Flask==2.2.2
textfsm==1.1.2
ntc-templates==3.2.0
dash==2.7.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
openpyxl==3.0.10
pandas==1.5.3
pyats-genie-command-parse
Werkzeug==2.2.2
numpy==1.24.1